{{> adminheader}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" type="text/stylesheets"   href="/stylesheets/addcoupon.css"> 

    <title>Add Coupon</title>
</head>

<style>


form {
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }


</style>
<body>
 <h3 style="margin-left: 600px;">Add offers</h3>

   <form action="" method="post" role="form">
 
  
  
  
  
  <label for="coupon-discount">Discount:</label>
  <input type="text" id="discount" name="discount" required>
 <div class="form-field">
                        <label for="name">Category:</label>
                        <select id="category" name="category" input type="text">
                            {{#each categoryData}}
                            <option value={{this.name}}>{{this.name}}</option>
                            {{/each}}
                        </select>

                    </div>
  
  
  <label for="coupon-status">offer status</label>
  <select id="coupon-status" name="status" required>
    <option value="active">Active</option>
    {{!-- <option value="expired">Expired</option> --}}
    <option value="inactive">Inactive</option>
  </select>
   <p style="color: rgb(128, 0, 0);">
          {{message}}
        </p>
  <input  type="submit" style="background-color: rgb(190, 132, 132);   margin-left: 150px;"  value="Add offer">
</form>



    
</body>
</html>