<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-up</title>

  <style>
    .gradient-custom {
      
      background: #6a11cb;

  
      background: -webkit-linear-gradient(to right, rgb(215, 106, 111), rgb(215, 104, 117));

    
      background: linear-gradient(to right, rgb(198, 89, 102), rgb(153, 182, 240))
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<script>
    function validateForm() {
    
      const nameInput = document.getElementById("name");
      const emailInput = document.getElementById("email");
      const mobileInput = document.getElementById("mobile");
      const pass1Input = document.getElementById("pass1");
      const pass2Input = document.getElementById("pass2");

   
      const errorMessage5 = document.getElementById("errorMessage5");
      const errorMessage4 = document.getElementById("errorMessage4");
      const errorMessage3 = document.getElementById("errorMessage3");
      const errorMessage1 = document.getElementById("errorMessage1");
      const errorMessage2 = document.getElementById("errorMessage2");

    
      const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
      const mobilePattern = /^\d{10}$/;
      const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;

     
      errorMessage5.textContent = "";
      errorMessage4.textContent = "";
      errorMessage3.textContent = "";
      errorMessage1.textContent = "";
      errorMessage2.textContent = "";

      
      if (nameInput.value.trim() === "") {
        errorMessage5.textContent = "Name is required";
        return false;
      }

    
      if (!emailPattern.test(emailInput.value)) {
        errorMessage4.textContent = "Invalid email address";
        return false;
      }

      
      if (!mobilePattern.test(mobileInput.value)) {
        errorMessage3.textContent = "Mobile number must be 10 digits";
        return false;
      }

      
       if (!passwordPattern.test(pass1Input.value)) {
            errorMessage1.textContent = "Password must be at least 8 characters, including one number and one special symbol";
            return false;
        }

    
      if (pass1Input.value !== pass2Input.value) {
        errorMessage1.textContent = "Passwords do not match";
        errorMessage2.textContent = "Passwords do not match";
        return false;
      }

  
      return true;
    }
  </script>


</head>

<body>



  <section class="vh-150 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <div class="mb-md-5 mt-md-4 pb-5">
                <fieldset disabled="disabled"></fieldset>

                <form action="/register"  method="post" onsubmit="return validateForm()">


                  <h2 class="fw-bold mb-2 text-uppercase">SignUp</h2>
                  <br>
                 <p style="color: rgb(225, 255, 0);">{{message1}}</p>
                  <p class="text-white-50 mb-5">Please enter your Username and password!</p>

                  <div class="form-outline form-white mb-4">
                    <input type="name" id="name" name="name" placeholder="Enter name "
                      class="form-control form-control-lg" required />
                
                    <p id="errorMessage5" style="color: red"> </p>
                  </div>

                 
                    <div class="form-outline mb-4">
                    <input type="email" name="email" id="email" placeholder="Enter email " id="form2Example17"
                      class="form-control form-control-lg"/>
                   
                     <p id="errorMessage4" style="color: red"> </p>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="number" pattern="\d{10}" id="mobile" name="mobile" placeholder="Enter Mobile"
                      class="form-control form-control-lg" required size=10 />
                
                    <p id="errorMessage3" style="color: red"> </p>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="pass1" name="password" placeholder="Enter Password"
                      class="form-control form-control-lg"  />
                   
                    <p id="errorMessage1" style="color: red"> </p>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="pass2" name="password2" placeholder=" Re-Enter Your Password"
                      class="form-control form-control-lg"  />
                
                    <p id="errorMessage2" style="color: red"> </p>
                  </div>
                  {{!-- //// --}}
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="refcode" name="ref" placeholder="Enter your reference code "
                      class="form-control form-control-lg"/>
                
                    <p id="errorMessage5" style="color: red"> </p>
                  </div>
                  <br>


                 


                  <div>
                    <h5 class="fw-normal mb-3 pb-3">Alredy have an account? <a href="/login" class="mb-5 pb-lg-2"
                        style="color: #8089e9;">Login</a>
                    </h5>
                  </div>

                  <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Register">
                  <br><br>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
 



</body>

</html>